.GJ-input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.GJ-input_matrix {
  width: 35vw;
  margin: auto;
}

.GJ-btn_solve {
  background: var(--primary-color);
  border: 0;
  color: white;
  width: 30%;
  height: 13%;
  font-size: min(max(25px, 5vw), 35px);
  border-radius: 5px;
  margin: 2rem;
}

@media only screen and (max-width: 1350px) {
  .GJ-input_matrix {
    width: 60vw;
  }

  .GJ-btn_solve {
    width: 55%;
  }
}

.GJ-result_wrapper {
  width: 50vw;
  margin: 0 auto 3rem auto;
}

.GJ-result_container {
  background: var(--light-grey);
  padding: 1rem 0.7rem;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.GJ-result_container h2 {
  font-weight: lighter;
  font-size: 1.6rem;
  margin: 0 0 0.2rem 0;
  text-align: left;
}

.GJ-result_values {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.GJ-result_values span {
  font-size: min(max(25px, 3vw), 35px);
  border-bottom: 0.2rem solid var(--primary-color);
  margin: 1rem min(max(10px, 4vw), 30px);
}

.GJ-text_result {
  font-weight: normal;
  text-align: center;
  font-size: min(max(25px, 6vw), 30px);
  border-bottom: 0.2rem solid var(--primary-color);
  display: inline;
}

@media only screen and (max-width: 1024px) {
  .GJ-result_wrapper {
    width: 90vw;
  }

  .GJ-input_matrix {
    width: 84vw;
  }
  .GJ-result_values span {
    margin: 1rem min(max(3px, 3vw), 10px);
  }

  .GJ-btn_solve {
    width: 70%;
  }
}
