.GJ-input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.GJ-input_matrix {
  width: 35vw;
  height: 30vh;
  min-height: 220px;
  margin: auto;
}

.GJ-btn_solve {
  background: var(--primary-color);
  border: 0;
  color: white;
  width: 30%;
  height: 13%;
  font-size: min(max(25px, 5vw), 35px);
  border-radius: 5px;
  margin: 2rem;
}

@media only screen and (max-width: 1350px) {
  .GJ-input_matrix {
    width: 60vw;
    height: 30vh;
  }

  .GJ-btn_solve {
    width: 55%;
  }
}

.GJ-result_wrapper {
  width: 50vw;
  margin: 0 auto 3rem auto;
}

.GJ-result_container {
  background: var(--light-grey);
  padding: 1rem 0.7rem;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
}

.GJ-result_container h2 {
  font-weight: lighter;
  font-size: 1.6rem;
  margin: 0 0 0.2rem 0;
  text-align: left;
}

.GJ-result_values {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.GJ-result_values span {
  font-size: min(max(25px, 3vw), 35px);
  border-bottom: 0.2rem solid var(--primary-color);
  margin: 1rem min(max(10px, 4vw), 30px);
}

.GJ-text_result {
  font-weight: normal;
  text-align: center;
  font-size: min(max(25px, 6vw), 30px);
  border-bottom: 0.2rem solid var(--primary-color);
  display: inline;
}

.GJ-solve-steps {
  background: var(--light-grey);
  border-radius: 10px;
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.GJ-solve-steps_step h1 {
  font-size: min(max(20px, 2vw), 30px);
}

.GJ-solve-steps_step {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 27%;
  min-width: 260px;
  margin: 1em 0.5em 2em 0.5em;
}

.GJ-solve-steps_step-number {
  position: absolute;
  left: 0;
  top: 20%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: white;
  width: 2em;
  height: 2em;
  border-radius: 99px;
  font-weight: bold;
  font-size: 1.4em;
  box-sizing: border-box;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.53);
}

.GJ-solve-steps_step-matrix {
  height: 22vh;
}

@media only screen and (max-width: 1024px) {
  .GJ-result_wrapper {
    width: 90vw;
  }

  .GJ-input_matrix {
    width: 84vw;
    height: 30vh;
  }
  .GJ-result_values span {
    margin: 1rem min(max(3px, 3vw), 10px);
  }

  .GJ-btn_solve {
    width: 70%;
  }

  .GJ-solve-steps_step-number {
    left: -20px;
  }
}
