.matrix-view {
  /* margin-top: 2rem; */
}

.matrix_input-matrix {
  width: 20rem;
}

.matrix_matrices-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.matrix_matrices-container .matrix_input-matrix {
  margin: 3.5rem 1rem;
}
