.matrix_input-matrix,
.matrix-view_result-matrix {
  width: 20rem;
  margin: 3.5rem 1rem 2rem 1rem;
}

.matrix_input-matrix:last-child {
  margin-bottom: 5rem;
}

.matrix_matrices-container {
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.matrix-view_input-container {
  width: 40vw;
  margin: 1rem auto;
}

.matrix-view_input-bar input {
  text-transform: uppercase;
}

.matrix-view_input-buttons {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.matrix-view_input-buttons button {
  background: white;
  border: 2px solid #4a4949;
  color: #4a4949;
  font-size: 2.5rem;
  border-radius: 4px;
  line-height: 2rem;
  margin: 0 0.5rem 0.5rem;
  width: 6.5rem;
  height: 2.4rem;
  transition: background 200ms ease-in-out;
  font-family: monospace;
}

.matrix-view_input-buttons-sm {
  font-size: 1.6rem !important;
}

.matrix-view_input-buttons button:hover {
  background: #4a4949;
  color: white;
}

@media only screen and (max-width: 1500px) {
  .matrix-view_input-container {
    width: 60vw;
  }
}

@media only screen and (max-width: 900px) {
  .matrix-view_input-container {
    width: 80vw;
    margin-top: 1.5rem;
  }

  .matrix_input-matrix {
    margin: 1rem;
  }

  .matrix-view_input-buttons {
    width: 100%;
  }

  .matrix-view_input-buttons button {
    width: 5rem;
    line-height: 1.7rem;
    font-size: 1.8rem;
  }
}

.matrix-view_result {
  display: flex;
  justify-content: center;
}

.matrix-view_result-matrix {
  width: 30rem;
  height: 16rem;
  margin: 3.5rem 1rem 2rem 1rem;
  font-size: 1.2rem;
}

.matrix-view_result-matrix input {
  font-size: 1.8rem;
}

.matrix-view_scalar-result {
  font-weight: normal;
  font-size: min(max(20px, 2.8vw), 35px);
  border-bottom: 0.2rem solid var(--primary-color);
}

.matrix-view_scalar-result span {
  color: var(--primary-darker);
  font-weight: bold;
}
