.input-matrix {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.input-matrix table {
  width: 80%;
  height: 100%;
}

.input-matrix_table {
  position: relative;
  display: flex;
  justify-content: center;
}

.input-matrix_table::before {
  content: "";
  position: absolute;
  z-index: 7;
  border-radius: 3px;
  border-left: 0.35rem solid var(--primary-color);
  border-top: 0.35rem solid var(--primary-color);
  border-bottom: 0.35rem solid var(--primary-color);
  width: 6%;
  height: 100%;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
}

.input-matrix_table::after {
  content: "";
  position: absolute;
  z-index: 7;
  border-radius: 3px;
  border-right: 0.35rem solid var(--primary-color);
  border-top: 0.35rem solid var(--primary-color);
  border-bottom: 0.35rem solid var(--primary-color);
  width: 6%;
  height: 100%;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
}

.input-matrix input {
  border: 0;
  border-bottom: 2px solid #d4d3d3;
  border-radius: 0;
  height: 2rem;
  font-size: 1.5rem;
  text-align: center;
  width: 60%;
  background: none;
}

.input-matrix th {
  position: relative;
}

.input-matrix_dimension-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  margin: 1rem 0 0 0;
}

.input-matrix_dimension-input input {
  width: 20%;
  border-color: var(--primary-color);
  border-width: 0.2rem;
  font-size: 1.8rem;
  background: none;
}

.input-matrix_dimension-input span {
  font-size: 2rem;
  margin: 0 1.4rem;
}

.matrix-view_add-btn {
  position: absolute;
  right: -16%;
  top: 37%;
  background: none;
  border: 3px solid var(--secondary-color);
  color: var(--secondary-color);
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 150ms ease-in, color 150ms ease-in;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

button svg {
  width: 60%;
  height: 60%;
}

.matrix-view_add-btn:hover {
  background: var(--secondary-color);
  color: white;
}

.matrix-view_remove-button {
  position: absolute;
  top: 10%;
  left: -6%;
  height: 2rem;
  width: 2rem;
  z-index: 10;
  background: var(--primary-darker);
  border-radius: 999px;
  color: white;
  border: 0;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .matrix-view_add-btn {
    top: initial;
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.input-matrix_name {
  font-weight: lighter;
  text-align: center;
  margin: 0;
}
