.backToTopButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 5em;
  width: 5em;
  background: var(--primary-color);
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 999px;
  transform: scale(0);
  transition: transform 100ms ease-in-out;
}

.backToTopButton:hover {
  background: var(--primary-darker);
}

.backToTopButton img {
  width: 50%;
}

.backToTopButton-show {
  transform: scale(1);
}
