.home_input-bar-container {
  width: 50vw;
  text-align: center;
  margin: 8vh auto 0 auto;
}

.home_input-bar_logo {
  width: 40%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
  .home_input-bar_logo {
    width: 60%;
  }
}
@media only screen and (max-width: 1500px) {
  .home_input-bar-container {
    width: 80vw;
  }
}

.home_solve-ops-container {
  width: 80vw;
  margin: 8vh auto 0 auto;
}

.home_card-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.home_solve-subtitle {
  margin: 1em 0 0.2em 0;
  font-size: 1.7em;
  font-weight: lighter;
  color: var(--primary-darker);
}

.home_card {
  width: 14vw;
  min-width: 145px;
  cursor: pointer;
  margin: 1rem 8px 1rem 8px;
  font-size: calc(15px + 4 * ((100vw - 320px) / 960));
  height: calc(170px + 4 * ((100vw - 320px) / 960));
}

@media only screen and (max-width: 1400px) {
  .home_solve-ops-container {
    width: 90vw;
  }
  .home_card {
    width: 22vw;
    font-size: calc(12px + 5 * ((100vw - 320px) / 960));
    height: calc(150px + 4 * ((100vw - 320px) / 960));
  }
}

@media only screen and (max-width: 750px) {
  .home_card {
    width: 25vw;
  }
}
