.home_input-bar-container {
  width: 80vw;
  text-align: center;
  margin: 8vh auto 0 auto;
}

.home_input-bar_logo {
  width: 40%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
  .home_input-bar_logo {
    width: 60%;
  }
}
