.title-card {
  background: var(--primary-darker);
  border-radius: 8px;
  color: white;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  word-wrap: break-word;
  min-width: 140px;
}

.title-card h2 {
  margin: 1rem 0 0 0;
  font-size: 1.3rem;
}

.title-card span {
  display: inline-block;
  font-size: 5rem;
  font-weight: normal;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.25);
  line-height: 75%;
  margin: 3% 0 6% 0;
}

.title-card:hover {
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.41);
  transform: translate(-1px, -2px);
}
