nav {
  min-height: 19px;
  border-bottom: 2px solid #c7c7c7;
  padding: 6px 3% 6px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: lighter;
  font-size: 1.3em;
}

nav a {
  text-decoration: none;
  color: black;
}

.nav-logo {
  height: 3vh;
}

.nav-items {
  list-style: none;
  margin: 0;
}

.nav-items li a {
  padding: 4px;
  border-radius: 3px;
  transition: background 200ms ease-in-out;
}

.nav-items li a:hover {
  background: var(--primary-color);
  color: white;
}
